<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jahongroup.quyosh24">
    
    <!-- Litsenziya va mualliflik huquqi -->
    <meta-data android:name="app.license" android:value="JAHON GROUP © 2025" />
    <meta-data android:name="app.developer" android:value="JAHON GROUP" />
    <meta-data android:name="app.category" android:value="Solar Energy Solutions" />
    <meta-data android:name="app.security" android:value="Verified Safe Application" />
    
    <!-- Ruxsatlar - faqat kerakli -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <application
        android:label="Quyosh24"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:description="@string/app_description"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light">
        
        <!-- Ilova ma'lumotlari -->
        <meta-data android:name="com.jahongroup.quyosh24.LICENSE" 
                   android:value="Licensed by JAHON GROUP" />
        <meta-data android:name="com.jahongroup.quyosh24.VERSION" 
                   android:value="1.8.0" />
        <meta-data android:name="com.jahongroup.quyosh24.SECURITY" 
                   android:value="VERIFIED_SAFE" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:usesCleartextTraffic="true">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
            
        <!-- Xavfsizlik va litsenziya ma'lumotlari -->
        <meta-data android:name="app.signature.verified" android:value="true" />
        <meta-data android:name="app.malware.scan" android:value="clean" />
        <meta-data android:name="app.publisher" android:value="JAHON GROUP" />
        <meta-data android:name="app.contact" android:value="+998930874758" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.INSTALL_PACKAGE" />
            <data android:scheme="package" />
        </intent>
    </queries>
</manifest>
